# Archivos y carpetas de Eclipse
.metadata/
.classpath
.project
.settings/

# Archivos generados automáticamente por Maven
target/
bin/

# Archivos temporales del sistema
*.log
*.tmp
.DS_Store
Thumbs.db

# Archivos de configuración local
/logs/
/tmp/
*.iml
